<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no\"
    />
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../logdisp.css">
    <title>Log Display</title>
  </head>

  <body>
    <h1 style="margin: 0;">History</h1>
    <div class="container-table">
      <table class="log-table">
        <thead>
          <tr class="table-head">
            <th>Time</th>
            <th>Light Level</th>
            <th>Soil Humidity</th>
            <th>Last Watering Amount</th>
          </tr>
        </thead>
        <tr>
          <td>1001</td>
          <td>2002</td>
          <td>3003</td>
          <td>4004</td>
        </tr>
        <!-- for each element in log list -->
        <% for(var i = 0; i < 8; i++) { %> 
            <tr>
            <% for(var j = 0; j < 4; j++) { %>
            <td>placeholder</td>

            <!-- logList[] = the list requeted from db  -->
            <% } %>
            </tr>
        <% } %>
      </table>
      <div class="log-redirect">
        <a class="button button-on" href="#">prev</a>
        <a class="button button-on" href="#">next</a>
        <a class="button button-on" href="/" style="position: absolute; right: 50px;">home</a>
      </div>

    </div>
  </body>
</html>