.clock{
    position: relative;
    text-transform: uppercase;
    text-shadow: -5px 5px 5px #abaaaa;
    color: #444444;
    letter-spacing: -0.05em;
    
    user-select: none;
    text-transform: uppercase;
    font-size: 50px;
    transition: all 0.25s ease-out; 
}

.body-container {
    width: 100%;
    min-height: 75vh;
    margin: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
/* for graph container */
.container-env {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
}

/* appears twice in container-env so, just call it iframe */
iframe {
    flex-grow: 1;
}

.container-control {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    /* flex-grow: 1; */

    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: #8a8a8a solid 2px;
}

/* mid breakpoint: 
    align control and info first, then graph with wider width */
@media only screen and (max-width: 1204px) {
    .body-container{
        width: 650px;
    }
    .container-env {
        order: 1;
    }
    iframe{
        width: 600px;
    }
}

/* small breakpoint:
    rearrange order: info, control, graph
    everything with 300px width */
@media only screen and (max-width: 699px) {
    .body-container{
        width: 300px;
    }
    .container-info {
        order: -1;
    }
    .container-control {
        width: 300px;
        flex-grow: 0;
        order: 0;
    }
    .container-env {
        order: 1;
    }

    iframe {
        width: 300px;
        height: 225px;
    }
}

.container-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    gap: 13px;

    background-color: #ceeee7;
    border-radius: 20px;
    border: #8a8a8a solid 2px;
}

.pill {
    width: 75%;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 50px;
    background-color: #00b38f;
}

.pill h6 {
    display: block;
    font-size: 19px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.pill p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0;
}



.button-getinformation {
    background-color: #1abc9c;
}

.button-getinformation:active {
    background-color: #16a085;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.form__box {
    width: 230px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

}


.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    font-weight: 600px;
    color: #9b9b9b;
    padding: 7px 0;
    background: transparent;
    transition: border-color, color 0.2s;

    text-align: center;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    color: #00b38f;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.form__fieldblock {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.3rem;
    color: #9b9b9b;
    margin-bottom: 1rem;
    padding: 7px 0;
    background: transparent;
}

.hidden{
    visibility: hidden;
}
.button-log {}

#main-table {
    padding: 0;
    width: 100%;
    background: #eee;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    overflow: hidden;
}